body {
    margin-left: auto;
    margin-right: auto;
    height: 812px;
    width: 375px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5px;
}

.burgerback {
    margin-top: 47px;
    margin-left: 16px;
}

.action{
    margin-top: 600px;
    position: relative;
}

.food{
    display: inline-block;
    position: absolute;
    width: 105px;
    left: 20px;
}

.food1{
    display: inline-block;
    position: absolute;
    width: 105px;
    top: -200px;
    left: 20px;
}

/* 只有在poop頁面出現 */
.tissue {
    display: inline-block;
    position: absolute;
    width: 105px;
    margin-top: 16px;
    margin-left: 155px;
}

.water {
    display: inline-block;
    position: absolute;
    width: 105px;
    top: 8px;
    left: 255px;
}

.water1 {
    display: inline-block;
    position: absolute;
    width: 105px;
    top: -190px;
    left: 255px;
}

.state{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 373px;
    bottom: -90px;
}

.btn{
    padding: 5px;
}

/* wash頁面的蓮蓬頭 */
.shower{
    display: flex;
    position: relative;
    top: 116px;
    left: 111px;
}

.tissue:checked { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    animation: move 3s;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;  
} 

@keyframes move { 
    from { transform: translateX(0px); } 
    to { transform: translateX(120px) translateY(-125px); } 
} 

#stop:checked ~ .animation{
    animation-play-state: paused;
}

#play:checked ~ .animation{
    animation-play-state: running;
}