body {
    margin-left: auto;
    margin-right: auto;
    height: 812px;
    width: 375px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5px;
}

.burgerback {
    margin-top: 47px;
    margin-left: 16px;
}

.action{
    margin-top: 600px;
    position: relative;
}

.food{
    display: inline-block;
    position: absolute;
    width: 105px;
    left: 20px;
}

/* .food1{
    display: inline-block;
    position: absolute;
    width: 105px;
    top: -200px;
    left: 20px;
} */

.water {
    display: inline-block;
    position: absolute;
    width: 105px;
    top: 8px;
    left: 255px;
}

/* .water1 {
    display: inline-block;
    position: absolute;
    width: 105px;
    top: -190px;
    left: 255px;
} */

.state{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 373px;
    top: 775px;
}

.btn{
    padding: 5px;
}

/* feed頁面 */
.eatup{
    display: flex;
    position: absolute;
    top: 635px;
    left: 405px;
}

.food2{
    display: flex;
    position: absolute;
    width: 105px;
    top: 597px;
    left: 395px;
    z-index: 1;
    animation-name: foodeatup;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes foodeatup{
    0%   {opacity: 1;}
  100%{opacity: 0;}
}

/* wash頁面的蓮蓬頭 */
.shower{
    display: flex;
    position: relative;
    top: 116px;
    left: 111px;
}
.shower2{
    display: flex;
    position: relative;
    width: 105px;
    top: 118px;
    left: 185px;
    animation-name:wash2;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

@keyframes wash2{
    from{
        top: 123px;
        left: 185px;
    }
    to{
        top: 118px;
        left: 123px;

    }
}


/* poop頁面 */
.tissue {
    display: inline-block;
    position: absolute;
    width: 105px;
    margin-top: 16px;
    margin-left: 155px;
}
/* cleanpoop頁面 */
.tissue2{
    display: inline-block;
    position: absolute;
    width: 105px;
    top: 16px;
    left: 155px;
    animation-name:cleanpoop;
    animation-duration:2s;
    animation-fill-mode:forwards;
}
@keyframes cleanpoop{
    from{
        top: 16px;
        left: 155px;
    }
    to{
        top: -117px;
        left: 263px;
    }
}
