body {
    background-image: url(../img/burger.svg);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 261px;
    margin-left: 15px;
}

.petname {
    display: inline-block;
    position: relative;
    margin-top: 255px;
    left: 109px;
    width: 65px;
    height: 50px;
}

h5 {
    position: absolute;
    font-size: 13px;
    margin-top: -6px;
}

.botton {
    margin-top: 58px;
}

.btn {
    display: flex;
    justify-content: center;
    background-color: #FEA735;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    margin-top: 33px;
}

.btn.change {
    margin-top: 101px;
}

.backgroungback {
    margin-left: 292.5px;
    margin-top: -771.5px;
    width: 60px;
}