h2{
    margin-top: 49px;
    margin-left: 16px;
    font-size: 18px;
    text-align: left;
}
.love{
    margin-top: 220px;
    margin-right: 85px;
    font-size: 18px;
    text-align: right;
}
.home{
    margin-top: 157px;
    margin-left: 45px;
    font-size: 18px;
    text-align: left;
}
.walk{
    margin-top: 140px;
    margin-right: 115px;
    font-size: 18px;
    text-align: right;
}